@import "./variables.css";

@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../assets/fonts/Ubuntu-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(../assets/image/Фон.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* Header */

.header-background {
    background-color: var(--header-background-color);
    box-shadow: 0px 5px 5px rgb(0 0 0 / 25%);
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0 1.1rem 0;
}

.logo-wrapper:hover img {
    filter: invert(73%) sepia(12%) saturate(1926%) hue-rotate(96deg) brightness(81%) contrast(93%);
    transition: 200ms ease-in-out;
}

.right-icons {
    display: flex;
    width: 26%;
    justify-content: space-between;
    align-items: center;
}

.icons-wrapper {
    display: flex;
}

.icon__one,
.icon__two {
    margin-right: 24px;
}

.icon-first:hover img {
    filter: invert(73%) sepia(12%) saturate(1926%) hue-rotate(96deg) brightness(81%) contrast(93%);
    transition: 200ms ease-in-out;
}

.icon-second:hover img {
    filter: invert(73%) sepia(12%) saturate(1926%) hue-rotate(96deg) brightness(81%) contrast(93%);
    transition: 200ms ease-in-out;
}

.icon-third:hover img {
    filter: invert(73%) sepia(12%) saturate(1926%) hue-rotate(96deg) brightness(81%) contrast(93%);
    transition: 200ms ease-in-out;
}

.text-wrapper {
    border-left: 1px solid var(--header-line-color);
}

.text {
    font-family: Ubuntu-Regular;
    color: var(--primary-text-color);
    margin-left: 27px;
    font-size: 0.9rem;
}

.text-hover {
    padding: 0 3px 0 3px;
    cursor: pointer;
}

.text-hover:hover {
    color: var(--accent-text-color);
}

/* Form */

.form-background-center {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.form-background {
    position: relative;
    background-color: var(--form-background-color);
    width: 30%;
    padding: 30px 60px 38px 60px;
}

.rectangle {
    position: absolute;
    top: 29px;
    left: 0;
    width: 18px;
    height: 18px;
    background: var(--accent-text-color);
}

.input-description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.sign__up {
    font-family: Ubuntu-Regular;
    color: var(--secondary-text-color);
    font-size: 20px;
}

.log__in {
    font-family: Ubuntu-Regular;
    color: var(--accent-text-color);
    font-size: 14px;
}

.log__in:hover {
    color: var(--hover-link-color);
    text-decoration: underline;
    cursor: pointer;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.button__first {
    font-family: Ubuntu-Regular;
    border-radius: 4px;
    background-color: var(--button-first-color);
    font-size: 16px;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    padding: 11px 20px 11px 15px;
    width: 48%;
}

.button__first:hover {
    background-color: var(--hover-button-first-color);
    transition: 200ms ease-in-out;
}

.button__second {
    font-family: Ubuntu-Regular;
    border-radius: 4px;
    background-color: var(--button-second-color);
    font-size: 16px;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    padding: 14px 26px 13px 10px;
    width: 48%;
}

.button__second:hover {
    background-color: var(--hover-button-second-color);
    transition: 200ms ease-in-out;
}

.border {
    border-right: 2px solid var(--button-first-line-color);
}

.border-two {
    border-right: 2px solid var(--button-second-line-color);
}

.facebook {
    padding-right: 18px;
}

.google {
    padding-right: 7px;
}

.text-facebook {
    padding-left: 18px;
}

.text-google {
    padding-left: 30px;
}

.form {
    width: 100%;
}

.fieldset {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--border-fieldset-color);
    margin-top: 30px;
}

.legend {
    text-align: center;
    font-family: Ubuntu-Regular;
    font-size: 14px;
    color: var(--line-text-color);
}

.input {
    width: inherit;
    margin-top: 15px;
    padding: 15px 0 16px 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    outline: none;
}

.input:focus {
    box-shadow: 0px 3px 8px var(--input-focus-color);
}

::-webkit-input-placeholder {
    color: var(--input-text-color);
    font-family: Ubuntu-Regular;
    font-size: 14px;
}

.checkbox-wrapper {
    margin-top: 12px;
}

.checkbox-text {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    color: var(--secondary-text-color);
}

.second-part {
    color: var(--accent-text-color);
}

.second-part:hover {
    color: var(--hover-link-color);
    text-decoration: underline;
    cursor: pointer;
}

.align {
    display: flex;
    align-items: flex-end;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid var(--input-border-color);
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
    background-image: url("../assets/icons/Vector.svg");
}

.button-link {
    text-decoration: none;
}

.button {
    background-color: var(--accent-text-color);
    padding: 16px 0 16px 0;
    border-radius: 4px;
    margin-top: 20px;
}

.button:hover {
    background-color: var(--hover-link-color);
    transition: 200ms ease-in-out;
}

.button-text {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: var(--primary-text-color);
    text-align: center;
}
