:root {

--primary-text-color : rgba(255, 255, 255, 1);
--secondary-text-color : rgba(67, 67, 67, 1);
--accent-text-color : rgba(60, 184, 120, 1);
--line-text-color : rgba(132, 132, 132, 1);
--input-text-color : rgba(190, 190, 190, 1);

--button-first-color : rgba(48, 93, 184, 1);
--button-second-color : rgba(223, 74, 50, 1);
--button-first-line-color : rgba(44, 86, 170, 1);
--button-second-line-color : rgba(205, 68, 46, 1);
--header-line-color : rgba(78, 78, 78, 1);

--form-background-color : rgba(255, 255, 255, 1);
--border-fieldset-color : rgba(242, 242, 242, 1);
--input-border-color : rgba(242, 242, 242, 1);
--header-background-color : rgba(0, 0, 0, 0.4);
--input-focus-color : rgba(2, 2, 2, 0.22);

/* HOVER */
--hover-link-color : rgba(1, 129, 63, 1);
--hover-button-first-color : rgba(2, 34, 99, 1);
--hover-button-second-color : rgba(171, 31, 9, 1);
}